{% set title = "Home" %}

{% include 'header.jinja' %}
<!-- Page content-->
<div class="container p-4" role="main">
  <h1 class="text-center">
    A forum, just for the fun of it.
  </h1>
</div>

{% include 'footer.jinja' %}