{% set title = topic.title %}
{% from 'components/post.jinja' import render_post %}

{% include 'header.jinja' %}
<!-- Page content-->
<div class="container-xxl">
  <h1 class="">
    {{topic.title}}
  </h1>
  <p>
    Posts: {{topic.no_of_posts}}
  </p>
  {% for post in posts %}
    {{ render_post(post, convert_md_to_html) }}
  {% endfor %}

  {% include 'components/pagnation.jinja'%}

  {% if user %}
  <div>
    <h4>Write a post:</h2>
    <form method="post" class="d-flex flex-column" action="/topic/{{ topic.topic_id }}" id="create-post-form">
      <div id="editor" class="mb-2" style="min-height: 10rem">
      </div>
      <input type="hidden" name="content" id="content">
      <input type="submit" class="btn btn-primary align-self-end" value="Create post" />
    </form>
  </div>
  {% endif %}

</div>

{% if user %}
  <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
  <script>
    const quill = new Quill("#editor", {
      theme: "snow",
    });

    const turndownService = new TurndownService();

    document.getElementById('create-post-form').onsubmit = function(e) {
      e.preventDefault()

      
      // Get HTML content from Quill
      const html = quill.root.innerHTML;
      const markdown = turndownService.turndown(html);
      document.getElementById('content').value = markdown;

      // Convert HTML to Markdown
      console.log(e.target.submit())
    };
  </script>
  <style>
  .ql-editor {
    height: 10rem;
  }
  </style>
{% endif %}
{% include 'footer.jinja' %}